@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ysabeau+SC:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Basic Settings */

.App {
  background-color: #fff;
}

.header,
.footer {
  height: 10vh;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.content {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

a {
  color: #f96666;
}

/* Header Settings */
.header-link {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
}

/* Homepage Settings */

.title-homepage {
  font-family: "Gloock", serif;
  font-size: 40px;
  letter-spacing: 5px;
}

.settings {
  display: flex;
  flex-direction: column;
}

.error-message {
  color: #f96666;
}

.start-btn {
  background-color: #19a7ce;
  color: #f6f1f1;
  border: none;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

/* Quiz Settings */
.title-quiz {
  font-family: "Gloock", serif;
  font-size: 30px;
  letter-spacing: 3px;
}

.quiz-category-score {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.question-container {
  width: 70%;
  text-align: center;
}

.quiz-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 1.5rem 0;
}

.singleOption {
  background-color: #f6f1f1;
  border: 1px solid #000;
  padding: 5px 10px;
  cursor: pointer;
}

.select {
  background-color: #829460;
  border: 1px solid #829460;
  color: #f6f1f1;
}

.wrong {
  background-color: #f96666;
  border: 1px solid #f96666;
  color: #f6f1f1;
}

/* Result Settings */
.title-result {
  font-family: "Gloock", serif;
  font-size: 30px;
  letter-spacing: 3px;
}

/* Footer Settings */
.footer-link {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
}

.github {
  text-decoration: none;
}
